*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/codeStyles
.DS_Store
/build
/captures
.externalNativeBuild
app/.settings/org.eclipse.buildship.core.prefs
app/.project
app/.classpath
.settings/org.eclipse.buildship.core.prefs
.project
.idea/caches/build_file_checksums.ser
*.apk
/.idea/assetWizardSettings.xml
/.idea/kotlinc.xml
